body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

nav {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}

.contact-top {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}

#title {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

h1 {
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
}

.button-request {
  width: 261px;
  height: 50px;
  color: #ffffff;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.attribute-card {
  width: 270px;
  height: 75px;
}

.attribute-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
}

.attribute-content {
  color: #757575;
  font-size: 14px;
}

#whatWeDoTitle {
  font-size: 36px;
  font-weight: 700;
}

#ourTeam {
  background-color: #f5f4fa;
}

#ourTeamTitle {
  font-size: 36px;
  font-weight: 700;
}

.teamMemberCard {
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teamMemberName {
  font-weight: 500;
  color: #212121;
}

.teamMemberRole {
  color: #757575;
}

.button {
  width: 128px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #2196f3;
  color: #ffffff;
}

.button:focus {
  background: #2196f3;
  color: #ffffff;
}

a:hover {
  color: #2196f3;
}

a:focus {
  color: #2196f3;
}

a {
  text-decoration: none;
  color: #212121;
}

.portfolioItemCard {
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 404px / 2 - 464px);

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolioItemCard:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolioItemName {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
}

.portfolioItemDescription {
  color: #757575;
}

footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}

address {
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
}

.contact-bottom {
  color: rgba(255, 255, 255, 0.6);
}
